body {
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 50vh;
    background-color: black;
    height: 200px;
}

.animation {
    position: relative;
    height: 200px;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
    overflow: hidden;
}

.animation > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    pointer-events: none;
}

.animation > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: animation1 6s infinite;
}

.animation > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: animation2 6s infinite;
}

.animation > div:nth-child(3) {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: animation3 6s infinite;
}

.animation > div:nth-child(4) {
    -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: animation4 6s infinite;
}

@keyframes animation1 {
    0% {
        transform: translateX(100%);
    }
    26% {
        transform: translateX(0%);
    }
    83% {
        transform: translateX(-0.1%);
    }
    100% {
        transform: translateX(-120%);
    }
}

@keyframes animation2 {
    0% {
        transform: translateX(100%);
    }
    24% {
        transform: translateX(0.5%);
    }
    82% {
        transform: translateX(-0.2%);
    }
    100% {
        transform: translateX(-125%);
    }
}

@keyframes animation3 {
    0% {
        transform: translateX(100%);
    }
    22% {
        transform: translateX(0%);
    }
    81% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-130%);
    }
}

@keyframes animation4 {
    0% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-135%);
    }
}